* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #020617, #020617);
    color: #e5e7eb;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #020617;
    padding: 30px;
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #9ca3af;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #22c55e;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

img {
    margin-top: 20px;
    width: 200px;
    border-radius: 12px;
    border: 6px solid white;
    background: white;
}

.download-btn {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.download-btn:hover {
    background: #2563eb;
}
